.with-code,
.with-code-bg-dark {
    @import '../../../../node_modules/highlight.js/scss/a11y-light.scss';
}

.reveal .slides section:is(.with-code, .with-code-dark, .with-code-bg-dark) {
    pre {
        display: block;
        position: relative;
        width: 100%;
        margin: 20px auto;
        text-align: left;
        word-wrap: break-word;

        code {
            padding: 10px;
            overflow: auto;
            max-height: calc(
                var(--tc-code-line-height) * var(--tc-code-max-lines) - 10px
            );
            word-wrap: normal;
            font-size: var(--tc-code-font-size);
            line-height: var(--tc-code-line-height);
        }

        span.tc-copy-to-clipboard {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            --tc-icon-color: black;
            --tc-icon-size: 1.5em;
            transition: opacity 0.1s;
            opacity: 1;

            &.copied {
                opacity: 0.5;
            }
        }
        div.tc-copy-popup {
            position: absolute;
            top: -50px;
            right: 0;
            background-color: white;
            color: black;
            padding: 5px;
            border-radius: 5px;
            font-size: 0.8em;
            opacity: 1;
            transition: opacity 0.5s;

            &.hide {
                opacity: 0;
            }
        }
    }

    &.medium-code pre,
    pre.medium-code {
        --tc-code-font-size: var(--tc-medium-code-font-size);
        --tc-code-line-height: var(--tc-medium-code-line-height);
    }
    &.big-code pre,
    pre.big-code {
        --tc-code-font-size: var(--tc-big-code-font-size);
        --tc-code-line-height: var(--tc-big-code-line-height);
    }

    pre.alone {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &.max-height pre code {
        --tc-code-max-lines: 30;
    }
}
// Special case for the dark theme
.reveal .slides section:is(.with-code-dark, .with-code-bg-dark) {
    pre span.tc-copy-to-clipboard {
        --tc-icon-color: white;
    }
}

// Add some padding and a box-shadow to code blocks that are not highlighted
.reveal code:not(.hljs) {
    padding: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

/**
* Deal with dark code
*/

.with-code-dark,
.with-code-bg-dark {
    @import '../../../../node_modules/highlight.js/scss/a11y-dark.scss';
}

.reveal .backgrounds div.slide-background.with-code-dark {
    background-color: var(--tc-code-dark-background);
}

.reveal .slides section.with-code-dark:not(.stack):not([class*='transition']) {
    h1,
    h2 {
        color: white;
    }
}

.reveal .slides section.with-code-bg-dark {
    pre {
        background-color: var(--tc-code-dark-background);
    }
}
