$code-bg: #3f3f3f;

:root {
    --tc-big-code-font-size: 1.5em;
    --tc-big-code-line-height: 2.1em;
    --tc-medium-code-font-size: 0.9em;
    --tc-medium-code-line-height: 1.7em;
    --tc-code-max-lines: 20;
    --tc-code-font-size: var(--tc-medium-code-font-size);
    --tc-code-line-height: var(--tc-medium-code-line-height);
}

.with-code,
.with-code-bg-dark {
    @import '../../../../node_modules/highlight.js/scss/a11y-light.scss';
}

.reveal .slides section:is(.with-code, .with-code-dark, .with-code-bg-dark) {
    pre {
        display: block;
        position: relative;
        width: 100%;
        margin: 20px auto;
        text-align: left;
        word-wrap: break-word;

        code {
            padding: 10px;
            overflow: auto;
            max-height: calc(
                var(--tc-code-line-height) * var(--tc-code-max-lines) - 10px
            );
            word-wrap: normal;
            font-size: var(--tc-code-font-size);
            line-height: var(--tc-code-line-height);
        }
    }

    &.medium-code pre,
    pre.medium-code {
        --tc-code-font-size: var(--tc-medium-code-font-size);
        --tc-code-line-height: var(--tc-medium-code-line-height);
    }
    &.big-code pre,
    pre.big-code {
        --tc-code-font-size: var(--tc-big-code-font-size);
        --tc-code-line-height: var(--tc-big-code-line-height);
    }

    pre.alone {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &.max-height pre code {
        --tc-code-max-lines: 30;
    }
}

// Add some padding and a box-shadow to code blocks that are not highlighted
.reveal code:not(.hljs) {
    padding: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

/**
* Deal with dark code
*/

.with-code-dark,
.with-code-bg-dark {
    @import '../../../../node_modules/highlight.js/scss/a11y-dark.scss';
}

.reveal .backgrounds div.slide-background.with-code-dark {
    background-color: $code-bg;
}

.reveal .slides section.with-code-dark:not(.stack):not([class*='transition']) {
    h1,
    h2 {
        color: white;
    }
}

.reveal .slides section.with-code-bg-dark {
    pre {
        background-color: $code-bg;
    }
}
