/**
* Define Variables used in the theme
*/

.reveal .slides section:not(.stack) {
    width: 100%;
    height: calc(100% - var(--tc-heading-sub-title-margin-bottom));
    height: -webkit-calc(100% - var(--tc-heading-sub-title-margin-bottom));
    text-align: left;
    font-size: var(--tc-font-size);

    /**
    * Main titles
    */
    h1,
    h2 {
        text-transform: initial;
        text-align: left;
        color: var(--tc-heading-color);
        font-size: var(--tc-heading-title-font-size);
        font-weight: 600;
        margin-bottom: var(--tc-heading-margin-bottom);
    }

    /**
    * Sub titles
    */
    h1 + h2,
    h2 + h3,
    h1 + h3 {
        text-transform: initial; // reset mandatory for reveal
        margin-top: var(--tc-heading-sub-title-margin-top);
        font-size: var(--tc-heading-sub-title-font-size);
    }

    /**
    * Other headings
    */
    h1 ~ h2,
    h2 ~ h3,
    h1 ~ h3 {
        text-transform: initial; // reset mandatory for reveal
        font-size: var(--tc-heading-other-headings-font-size);
        margin-bottom: var(--tc-heading-sub-title-margin-bottom);
    }

    table:not(.hljs-ln) {
        width: 100%;
        background-color: var(--tc-table-bg);
    }
    table:not(.hljs-ln),
    th,
    tdtable:not(.hljs-ln-line) {
        border: thin solid white;
    }

    thead {
        background-color: var(--tc-table-header-bg);
        color: var(--tc-table-header-color);
    }
}
