.reveal .slides section:not(.stack) div.speaker-slide {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: var(--tc-speaker-grid-template-areas);
    grid-template-columns: var(--tc-speaker-grid-template-columns);
    grid-template-rows: var(--tc-speaker-grid-template-rows);

    // Speaker title
    h1 {
        grid-area: title;
        align-self: center;
        line-height: 200px;
        margin-bottom: 0;
    }
    // Speaker Rule or job title
    h2 {
        grid-area: rules;
        margin-top: inherit;
        margin-bottom: inherit;
        text-transform: inherit;
        text-align: center;
        line-height: 1.5em;
        display: table;
        font-size: 1.2em;
        align-self: center;
    }
    // Speaker additional informations
    h3 {
        grid-area: info-1;
        align-self: center;
        margin: 0;
        text-transform: inherit;
        text-align: left;
        font-size: 0.6em;
    }

    /**
    * Deal with case having more informations (up to 6)
    **/
    :nth-child(2 of h3) {
        grid-area: info-2;
    }
    :nth-child(3 of h3) {
        grid-area: info-1;
        margin-top: calc(0.6em * 6);
    }
    :nth-child(4 of h3) {
        grid-area: info-2;
        margin-top: calc(0.6em * 6);
    }
    :nth-child(5 of h3) {
        grid-area: info-1;
        margin-top: calc(0.6em * 12);
    }
    :nth-child(6 of h3) {
        grid-area: info-2;
        margin-top: calc(0.6em * 12);
    }

    // Speaker image
    p:has(.speaker) {
        margin-top: inherit;
        grid-area: img;
        width: var(--tc-speaker-width-img);
        height: var(--tc-speaker-width-img);
        align-self: center;
        .speaker {
            width: var(--tc-speaker-width-img);
            height: var(--tc-speaker-width-img);
            border-radius: var(--tc-speaker-width-img);
            background-size: cover;
            box-shadow: lightgrey 0px 6px 6px 1px;
        }
    }

    // Speaker company logo
    p:has(.company) {
        margin-top: inherit;
        grid-area: company;
        height: fit-content;
        align-self: center;
        text-align: center;
        .company {
            max-width: var(--tc-speaker-max-width-company);
            max-height: var(--tc-speaker-max-height-company);
        }
    }

    // Speaker badges
    p:has(.badge) {
        margin-top: inherit;
        text-align: center;
        height: fit-content;
        align-self: center;
        grid-area: badge-1;
        .badge {
            max-width: var(--tc-speaker-max-size-badge);
            max-height: var(--tc-speaker-max-size-badge);
        }
    }
    /**
    * Deal with case having 6 badges
    **/

    :nth-child(2 of p:has(.badge)) {
        grid-area: badge-2;
    }
    :nth-child(3 of p:has(.badge)) {
        grid-area: badge-3;
    }
    :nth-child(4 of p:has(.badge)) {
        grid-area: badge-4;
    }
    :nth-child(5 of p:has(.badge)) {
        grid-area: badge-5;
    }
    :nth-child(6 of p:has(.badge)) {
        grid-area: badge-6;
    }

    /**
    * Special case for 2 speakers
    */
    &.two-speakers {
        grid-template-areas: var(--tc-speaker-two-speakers-grid-template-areas);
        grid-template-columns: var(
            --tc-speaker-two-speakers-grid-template-columns
        );
        grid-template-rows: var(--tc-speaker-two-speakers-grid-template-rows);
        /**
        * Second speaker
        */
        :nth-child(2 of h1) {
            grid-area: title-2;
        }
        :nth-child(2 of h2) {
            grid-area: rules-2;
        }
        :nth-child(2 of p:has(.speaker)) {
            grid-area: img-2;
        }
        :nth-child(2 of p:has(.company)) {
            grid-area: company-2;
        }
        h3 ~ h3 {
            grid-area: info-2;
        }
        :nth-child(2 of h1) ~ h3 {
            grid-area: info-3;
            margin: 0;
        }
        :nth-child(2 of h1) ~ h3 ~ h3 {
            grid-area: info-4;
            margin: 0;
        }
        :nth-child(2 of h1) ~ p:has(.badge) {
            grid-area: badge-2-1;
        }
        :nth-child(2 of h1) ~ p:has(.badge) ~ p:has(.badge) {
            grid-area: badge-2-2;
        }
        :nth-child(2 of h1) ~ p:has(.badge) ~ p:has(.badge) ~ p:has(.badge) {
            grid-area: badge-2-3;
        }
    }
}
