.reveal .slides section:not(.stack)[class*='transition'],
.reveal .slides section:not(.stack).first-slide {
    background: rgba(0, 0, 0, 0);

    h1 {
        color: var(--tc-transition-color, var(--tc-heading-color));
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        margin-top: 250px;
        margin-bottom: 40px;
        padding: var(--tc-transition-padding-h1);
        width: fit-content;
        text-transform: initial;
        margin: 250px auto 40px auto;
        background: initial;
        position: relative;
        transform: initial;

        &:before {
            content: '';
            z-index: -1;
            position: absolute;
            background: var(
                --tc-transition-line-color,
                var(--tc-transition-color, var(--tc-heading-color))
            );
            width: 100px;
            height: 10px;
            left: var(--tc-transition-padding-h1);
            bottom: -20px;
            transform: rotate(0deg);
        }
    }

    h2 {
        color: var(--tc-transition-color, var(--tc-heading-color));
        font-size: 2.4em;
        text-align: center;
        padding-left: var(--tc-transition-padding-h1);
        margin-top: initial; // reset
    }

    &.left h1,
    &.left h2 {
        margin-left: initial;
        text-align: left;
    }

    &.left h1,
    &.right h1 {
        margin-top: 450px;
    }

    &.right h1,
    &.right h2 {
        margin-left: auto;
        margin-right: initial;
        text-align: right;
    }

    &.top h1 {
        margin-top: 30px;
    }

    &.bottom h1 {
        margin-top: 650px;
    }

    &.mask,
    &.txt-white {
        --tc-transition-color: white;
    }
}

/**
* Manage transitions slides with background
*/

.reveal .backgrounds div.slide-background.transition {
    &[data-background-hash].mask::after {
        background-color: rgba(61, 67, 73, 0.7);
    }
    &[data-background-hash*='png']::after,
    &[data-background-hash*='PNG']::after,
    &[data-background-hash*='Png']::after,
    &[data-background-hash*='jpg']::after,
    &[data-background-hash*='JPG']::after,
    &[data-background-hash*='Jpg']::after,
    &[data-background-hash*='jpeg']::after,
    &[data-background-hash*='JPEG']::after,
    &[data-background-hash*='Jpeg']::after,
    &[data-background-hash*='gif']::after,
    &[data-background-hash*='GIF']::after,
    &[data-background-hash*='Gif']::after,
    &[data-background-hash*='svg']::after,
    &[data-background-hash*='SVG']::after,
    &[data-background-hash*='Svg']::after,
    &[data-background-hash*='bmp']::after,
    &[data-background-hash*='BMP']::after,
    &[data-background-hash*='Bmp']::after,
    &[data-background-hash*='webp']::after,
    &[data-background-hash*='WEBP']::after,
    &[data-background-hash*='Webp']::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
    }
}
