tc-configurator-element {
    position: absolute;
    width: 50%;
    height: 70%;
    top: 20%;
    left: 25%;

    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: #37474f 2px 2px 4px 2px;

    z-index: 100;
}
