.reveal .slides section.present.tc-multiple-columns {
    display: flex !important;
    flex-direction: row;
    height: 100%;

    div.tc-column {
        color: var(--tc-multiple-col-color);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--tc-multiple-col-heading-color);
        }
        a {
            color: var(--tc-multiple-col-link-color);
        }

        flex: 1;
        height: 100%;
        position: relative;
        opacity: 1;
        pointer-events: auto;

        &.contrast-opposite {
            --tc-multiple-col-color: white;
            --tc-multiple-col-heading-color: white;
            --tc-multiple-col-link-color: white;
        }
    }
    .tc-col-section {
        display: none;
    }
}

.reveal .backgrounds .tc-multiple-columns.slide-background.present {
    display: flex !important;
    flex-direction: row;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div.tc-column,
    div.tc-col-section {
        display: block !important;
        position: relative;
        opacity: 1;
        visibility: visible;
    }
}
