.reveal {
    .slides section.quote-slide {
        h1,
        h2,
        h3,
        h4,
        p,
        blockquote,
        code,
        pre,
        a {
            color: var(--tc-quote-color);
        }

        blockquote {
            margin-top: 300px;
            box-shadow: initial;
        }

        .credits {
            --tc-credits-bg: var(--tc-quote-slide-bg-color);
            --tc-credits-color: var(--tc-quote-color);
        }
    }

    .backgrounds div.slide-background.quote-slide::before {
        content: '';
        position: absolute;
        background: url('./images/quotes.webp');
        background-size: contain;
        filter: brightness(0.25);
        top: 150px;
        left: 5px;
        width: 200px;
        height: 200px;
        color: var(--tc-quote-bg-color);
    }
}
